{% extends "base.html" %}

{% macro render_field(field) %}
<div class="mb-3">
    {{ field.label(class="form-label") }}
    {% if field.errors %}
        {{ field(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
    {% else %}
        {{ field(class="form-control") }}
    {% endif %}
</div>
{% endmacro %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Изменение пароля</h2>
        
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            
            {{ render_field(form.old_password) }}
            {{ render_field(form.new_password) }}
            {{ render_field(form.confirm_password) }}
            
            <button type="submit" class="btn btn-primary">Изменить пароль</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}