{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Заголовки запроса (Headers)</h1>

    <!-- Заголовки запроса -->
    <div class="card mb-4">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">Заголовки запроса (Headers)</h5>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Значение</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in headers %}
                <tr>
                    <td><code>{{ key }}</code></td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
